# Librelearn env template
# Je kan alles hier als defaults zien!
# zo is UI_KLEUR als je er geen geeft `023824`!

# Genereer aub een lange random secret
AUTH_SECRET=replace-with-a-long-random-secret

# voor hackclub oath
HACKCLUBAUTH_CLIENT_ID=your-hackclub-client-id
HACKCLUBAUTH_CLIENT_SECRET=your-hackclub-client-secret

# voor google oath
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# db
DATABASE_URL=postgresql://user:pass@localhost:5432/librelearn

# voor oath callback
APP_BASE=http://localhost:5173

# dc webhook
DC_WEBHOOK_URL=

# kleur van de UI
UI_KLEUR=023824

# Mag een gebruiker zelf de theme veranderen
UI_KLEUR_BEWERKBAAR=True
